.space1{
  margin-left: auto;
  margin-right: auto;
  padding-left: 210px;
}
.space11{
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
}
.space2{
  margin-left: auto;
  margin-right: auto;
  width: 156px;
}
.space3{
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.spa{
  margin-left: auto;
  margin-right: 80%;
}
.inpu {
  margin-left: 20%;
  margin-right: auto;

  width: 50%;
}
.dropboxprof{
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
.inpu1 {
  margin-left: 20%;
  margin-right: auto;

  width: 50%;
}
.inputt {
  margin-left: -20%;
  margin-right: auto;
  text-align: center;
   
  width: 50%;
}

.container {
  margin-top: 3%;
  border-radius: 25px;
  
  height: auto;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}



.dynamic_delete_button {
  position: relative;
  margin: 0 8px;
  margin-right: -30px;
  color: #4a3aff;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;

}

.dynamic_delete_button:hover {
  color: rgb(241, 1, 1);
}

.dynamic_delete_button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}