.nav {
    line-height: 100px;
}



.right {
    float: right;
}

.btn1 {
    background: #4a3aff;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 30px 50px;
  }
  .btn1:hover {
    background: #5d4eff;
  }
.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
 .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 60px;

    padding-left: 20px;

  }
  
  .sitelayout .sitelayoutbackground {
    background: #fff;
  }